
<!DOCTYPE html>
<html lang="en">
{% include 'navigation.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>HOME RENTAL SYSTEM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    input[type=text][type=password]{
    border-radius:8px;
    width:600px;
    height:16px;
    }
    #bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
</style>

</head>
<body id="bg" style="background-image: url('{% static 'images/logo.png' %}')";>

<div style="color:Black;border:0px solid white;border-radius:8px;background:none;padding:50px">

        <h3><strong>LOGIN</strong></h3><hr>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

USER NAME:<br><input type="text" placeholder="Enter user name" name="uname" required style="border-radius:8px;width:600px;height:35px;"><br><br>
        PASSWORD:<br><input type="password" placeholder="Enter password" name="pwd" required style="border-radius:8px;width:600px;height:35px;"><br><br>

        <input type="submit" value="Sign in" style="color:white;border-radius:8px;width:100px;height:35px;background-color:black;border:1px solid black">
    </form>

    </div>
</body>
</html>

{% ifequal error "no" %}
<script>
    alert('logged in successfully');
    window.location = ('{% url 'home' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Invalid Login Credentials,Try Again...');
</script>
{% endifequal %}